name: Node.js CI
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:3.6
        ports:
        - 27017:27017

    strategy:
      matrix:
        node-version:
          - 10.x
          - 12.x
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: 'Test with Node.js ${{ matrix.node-version }}'
        uses: actions/setup-node@v1
        with:
          node-version: '${{ matrix.node-version }}'
      - run: |
          apt-get update -qq > /dev/null
          apt-get install git -qq > /dev/null
          npm install
          npm test
