name: Docker Registry Cleanup

# https://docs.github.com/en/actions/reference/events-that-trigger-workflows#registry_package
# Run cleanup job if a new package was published or updated
on:
  workflow_dispatch:
  registry_package:

jobs:
  purge_untagged_images:
    runs-on: ubuntu-latest
    steps:
      - name: clean packages
        uses: vlaurin/action-ghcr-prune@v0.2.0
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN}}
          organization: ${{ github.repository_owner}}
          container: ${{ github.event.repository.name }}
          untagged: true
          dry-run: false
