
name: Release to DockerHub

on:
  release:
    types: [published]

env:
  IMAGE_NAME: fiware/iotagent-isoxml

jobs:
  deploy:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.IMAGE_NAME }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}
          labels: |
            org.opencontainers.image.title=IoT Agent for the ISOXML/ADAPT protocol with PM2
            org.opencontainers.image.description=IoT Agent for the ISOXML/ADAPT protocol for agricultural machinery (over an HTTP transport)
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          file: docker/Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
      - name: Docker meta (PM2)
        id: meta-pm2
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.IMAGE_NAME }}-pm2
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}-pm2
          labels: |
            org.opencontainers.image.title=IoT Agent for the ISOXML/ADAPT protocol with PM2
            org.opencontainers.image.description=IoT Agent for the ISOXML/ADAPT protocol for agricultural machinery (over an HTTP transport)
      - name: Build and push (PM2)
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.meta-pm2.outputs.tags }}
          file: docker/Dockerfile
          target: pm2
          labels: ${{ steps.meta-pm2.outputs.labels }}
      - name: Docker meta (Distroless)
        id: meta-distroless
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.IMAGE_NAME }}-distroless
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}-distroless
          labels: |
            org.opencontainers.image.title=IoT Agent for the ISOXML/ADAPT protocol (Distroless)
            org.opencontainers.image.description=IoT Agent for the ISOXML/ADAPT protocol for agricultural machinery (over an HTTP transport)
      - name: Build and push (Distroless)
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.meta-distroless.outputs.tags }}
          file: docker/Dockerfile
          target: distroless
          labels: ${{ steps.meta-distroless.outputs.labels }}
